@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');



.about-col .title {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    line-height: 22px;
}

.about-col .desc {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 22px;
}
.about-col-1 .title {
    font-size: 26px;
    font-family: 'Nunito', sans-serif;
    line-height: 22px;
}

.about-col-1 .desc {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    line-height: 22px;
}
.about-col {
    width: 15%;
    margin: 0 31px;
}
.about-col-1 {
    width: 20%;
}
.copy {
    font-size: 14px;
    font-family: 'Nunito', sans-serif;
    line-height: 20px;
}