.room-header {
    margin: 0 40px;
}

.room-type {
    margin: 100px 100px;
}

.galley {
    margin: 100px 50px 100px 100px;
}

.footer-col {
    margin: 0 100px;
}

.room-contact {
    margin: 100px 50px 0 50px;
}