@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
.search {
    width: 200px;
    margin-left: 50px;
    border-radius: 30px;
    font-family: 'Nunito', sans-serif;
  }
  
